keys.*
.idea/
*.swp
*.log
*.cprof
.DS_Store
.cache/
__pycache__
dump/
web/node_modules
secrets.*
admin/
*.css
esportstracker.egg-info
scraper/build/
scraper/dist/
*.map
web/public/stylesheets/
web/public/javascripts/
