@import '~bootstrap/dist/css/bootstrap.min.css'
@import '~font-awesome/css/font-awesome.min.css'
@import '~datatables.net-bs4/css/dataTables.bootstrap4.css'

$menu-color: #536DFE
$menu-color-active: #F06292
$brand-color: #304FFE
$white: #ffffff
$black: #000000
$background-grey: #e2e1e0
$sidebar-width: 340px


body
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif
  background: $background-grey
  margin: 0px
  padding: 0px
a
  text-decoration: none !important

i
  font-family: FontAwesome !important

.btn-container
  margin: 10px
.period-btn
  background: $menu-color
  color: $white
  height: 100%
  width: 100%
  border-radius: 0
  &.active
    background: $menu-color-active
.btn-block
  width: 25%
  margin: 0 !important
  padding: 0 !important
.btn-group
  width: 100%
.input-btn
  width: 100%
  display: none
.card
  border: 2px
  background: $white
  border-radius: 2px
  border-color: $black
  margin: 10px
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
  figcaption
    display: table-caption
    text-align: center
    font-size: 12px

.pi-graph
  padding-top: 71%

.esports-hours
  padding-top: 555px

.chart-container
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

.margin-container
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  margin: 20px


.navbar-default
  background-color: $brand-color
  border-radius: 0
  top: 0
  border: 0
  a.navbar-brand
    height: 100%
    color: $white
    vertical-align: middle
  a.navbar-brand:hover
    text-decoration: none
    color: $white
  a.navbar-brand:focus
    color: $white

.container-fluid
  max-width: 1600px

#topnav
  color: $menu-color
  li.nav-item
    color: $white
    margin-right: 20px
    vertical-align: middle
  a.nav-link
    color: $white
    display: inline
  .fa-bars
    color: $white

table.display.table
  width: 100%
  font-size: 13px

#main
  padding: 10px

@media (max-width: 767px)
  .navbar-default
    .navbar-brand
      text-align: left !important
      padding-left: 20px
      font-size: 22px
  .line-graph
    padding-top: 80%
  #time_period_btn
    font-size: 12px
@media (min-width: 767px)
  .navbar-default
    .navbar-brand
      text-align: left !important
      font-size: 30px
  .line-graph
    padding-top: 55%
  #time_period_btn
    font-size: 16px