@import '~font-awesome/css/font-awesome.min.css'
@import '~bootstrap/dist/css/bootstrap.min.css'

$menu-color: #536DFE
$menu-color-active: #F06292
$brand-color: #304FFE
$white: #ffffff
$black: #000000
$background-grey: #e2e1e0
$sidebar-width: 340px


body
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif
  background: $background-grey
  margin: 0px
  padding: 0px
a
  text-decoration: none !important

i
  font-family: FontAwesome !important

.card
  border: 2px
  background: $white
  border-radius: 2px
  border-color: $black
  margin: 10px
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)

.line-graph
  padding-top: 55%

.pi-graph
  padding-top: 70%

.chart-container
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

.margin-container
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
  margin: 20px


.navbar-default
  background-color: $brand-color
  border-radius: 0
  height: 60px
  top: 0px
  border: 0px
  a.navbar-brand
    height: 100%
    color: $white
    font-size: 30px
    line-height: 30px
    display: block
    text-align: center
    vertical-align: middle
  a.navbar-brand:hover
    text-decoration: none
    color: $white
  a.navbar-brand:focus
    color: $white

.nav-side-menu
  overflow: auto
  font-size: 12px
  font-weight: 200
  background-color: $menu-color
  position: fixed
  top: 0px
  width: $sidebar-width
  height: 100%
  color: $white
  .brand
    background-color: $brand-color
    color: $white
    line-height: 60px
    display: block
    text-align: center
    font-size: 20px
  .toggle-btn
    display: none
  ul, li
    list-style: none
    padding: 0px
    font-size: 16px
    opacity: 1
    font-weight: 200
    line-height: 35px
    cursor: pointer
    a
      display: list-item
      padding: 10px
      color: $white
    .active

      background-color: $menu-color-active


//.nav-side-menu
  ul :not(collapsed) .arrow:before, li :not(collapsed) .arrow:before
    content: "\f078"
    display: inline-block
    padding-left: 10px
    padding-right: 10px
    vertical-align: middle
    float: right
#main
  padding: 10px

@media (max-width: 767px)
  .nav-side-menu
    position: relative
    width: 100%
    margin-bottom: 10px
    .toggle-btn
      display: block
      cursor: pointer
      position: absolute
      right: 10px
      top: 10px
      z-index: 10 !important
      padding: 3px
      color: $white
      width: 40px
      text-align: center
  .brand
    text-align: left !important
    font-size: 22px
    padding-left: 20px
    line-height: 50px !important

@media (min-width: 767px)
  .nav-side-menu .menu-list .menu-content
    display: block
  #main
    width: calc(100% - #{$sidebar-width})
    float: right