@import material-components-web.css

body
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif


.site-body
  display: flex
  flex-direction: column
  padding: 0
  margin: 0
  box-sizing: border-box
  min-height: 100%

.site-content
  display: flex
  flex: 1 1 auto
  height: 100%
  box-sizing: border-box

main
  padding: 16px
  width: 100%

.et-mdc-cell

  background: #5c3518
