extends layout

block content
  #main.container-fluid
    .row
      .col-12
        .card.line-graph
          .margin-container
            .chart-container
              #gameviewership
  script(src='/javascripts/game.entry.js')
