extends layout

block content
  #main.container-fluid
    include timeperiod
    .row.no-gutters
      .col-xl-8
        .card.line-graph
          .chart-container.margin-container
            #gameviewership
      .col-xl-4
        .card
  script(src='/webpack/game.entry.js')
