extends layout

block content
  #main.container-fluid
    include timeperiod
    .row.no-gutters
      .col-12
        .card.line-graph
          .chart-container
            #gameviewership
  script(src='/webpack/game.entry.js')
