extends layout

block content
  #main.container-fluid
    include timeperiod
    .row.no-gutters
      .col-lg-4
        .card.pi-graph
          .chart-container
            #twitchgamevh
      .col-lg-4
        .card.pi-graph
          .chart-container
            #marketshare
      .col-lg-4
        .card.pi-graph
          .chart-container
            #orgmarketshare
    .row.no-gutters
      .col-lg-8
        .card
          table.display.table(id='datatable')
          figcaption English Language Streams Only
  script(src='/webpack/index.entry.js')