extends layout

block content
  #main.container-fluid
    .row
      .col-6
        .card.pi-graph
          .chart-container
            #twitchgamevh
      .col-6
        .card.pi-graph
          .chart-container
            #marketshare
  script(src='/javascripts/index.entry.js')