extends layout

block content
  #main.container-fluid
    .row.no-gutters
      .col-md-6
        .card.pi-graph
          .chart-container
            #twitchgamevh
      .col-md-6
        .card.pi-graph
          .chart-container
            #marketshare
  script(src='/webpack/index.entry.js')