extends layout

block content
  h1= title
  p Welcome to #{title}
  p Look at this #{query}
  div(id="chart_div")
  script(src="https://www.gstatic.com/charts/loader.js")
  script(src="/javascripts/loadcharts.js")


