extends layout

block content
  .mdc-layout-grid-max-width
    .mdc-layout-grid__inner
      .mdc-layout-grid__cell--span-6.et-mdc-cell
        #twitchgamevh30
      .mdc-layout-grid__cell--span-6.et-mdc-cell
        #marketshare
  .large-card-container
    section.mdc-card__primary
