extends layout

block content
  .mdc-layout-grid-max-width
    .mdc-layout-grid__inner
      .mdc-layout-grid__cell--span-4.et-mdc-cell= 4
      .mdc-layout-grid__cell--span-4.et-mdc-cell= 4
      .mdc-layout-grid__cell--span-4.et-mdc-cell= 4
  .large-card-container
    section.mdc-card__primary
      h2(class="mdc-card mdc-card__title--large") Twitch Marketshare
        #chart_div