extends layout

block content
  #main.container-fluid
    .row
      .col-md-6
        .card
          #twitchgamevh30
      .col-md-6
        .card
          #marketshare
  script(src='/javascripts/index.entry.js')