doctype html
html(class='mdc-typography')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css' crossorigin='anonymous')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title= title
  body
    include navbar
    include sidenav
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.js')
    script(src='https://cdn.plot.ly/plotly-latest.min.js')
    script(src='/modules/commons.js')
    main
      block content