doctype html
html(class='mdc-typography')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title= title
  body.mdc-typography.site-body
    .site-content.mdc-toolbar-fixed-adjust
      include toolbar.pug
      include sidenav.pug
      main
        block content
    script(src='/javascripts/material-components-web.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    script(src='https://www.gstatic.com/charts/loader.js')
    script(src='https://cdn.plot.ly/plotly-latest.min.js')
    script(src='/javascripts/loadcharts.js')
    script
      | mdc.autoInit()
