doctype html
html(class="mdc-typography")
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet' href="/stylesheets/material-components-web.css")
    link(rel='stylesheet' href="/stylesheets/style.css")
  body.mdc-typography.site-body
    .site-content.mdc-toolbar-fixed-adjust
      include toolbar.pug
      include sidenav.pug
      main
        block content
    script(src="/javascripts/material-components-web.js")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
    script(src="https://www.gstatic.com/charts/loader.js")
    script(src="/javascripts/loadcharts.js")
    script
      | mdc.autoInit()
