nav.navbar.navbar-expand-md.navbar-default(id='topnav')
  a.navbar-brand(href='/') EsportsTracker
  button.navbar-toggler.fa.fa-bars.toggle-btn(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
  .collapse.navbar-collapse(id='navbarNav')
    ul.navbar-nav.ml-auto
      li.nav-item.dropdown
        a#gameDropdown.dropdown-toggle(data-toggle='dropdown', aria-hospopup='true,' data-target='#menu-content')
          | Games
        .dropdown-menu.dropdown-menu-right(aria-labelledby='gameDropdown')
          each game in esportsGames
            if game.game_id === gameID
              a.dropdown-item.active(href='/game/' + game.game_id)= game.name
            else
              a.dropdown-item(href='/game/' + game.game_id)= game.name
      li.nav-item
        a.nav-link(href='https://github.com/RowanMeara/EsportsTracker')
          | About
          span.sr-only (current)