.nav-side-menu
  .brand EsportsTracker
  i.fa.fa-bars.fa-2x.toggle-btn(data-toggle='collapse', data-target='#menu-content')
  .menu-list
    ul#menu-content.menu-content.collapse.out
      each game in esportsGames
        if game.game_id == gameID
          li.active
            a(href='/game/' + game.game_id)= game.name
        else
          li
            a(href='/game/' + game.game_id)= game.name
