.row.no-gutters
  .col-xl-6
    .btn-container
      .btn-group(data-toggle='buttons' id='time_period_btn')
        each period in timePeriods
          if period === 30
            .btn-block
              .btn.period-btn.active(value=period)=period
                input.input-btn(type='radio' name='period' value=period)
                |  Days
          else
            .btn-block
              .btn.period-btn(value=period)=period
                input.input-btn(type='radio' name='period' value=period)
                |  Days