header.mdc-toolbar.mdc-toolbar--fixed
  .mdc-toolbar__row
    section.mdc-toolbar__section.mdc-toolbar__section--align-start
      span.catalog-back
        a.mdc-toolbar__icon--menu(href='/')
          // i.material-icons LOGO
      span.mdc-toolbar__title.catalog-title= "EsportsTracker -- Twitch & Youtube Gaming stats"